<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-3 post-form">投稿</div>
    <div class="col-md-8 offset-md-1 post-index">投稿一覧</div>
  <% else %>
    <div class="col-md-8 offset-md-2 post-index">投稿一覧</div>
  <% end %>
</div>